body{
	font-family: calibri;
}

.navbar{
	padding-bottom: 5px !important;
}

.navbar-atas{
	font-size: 14px;
}

.bg-navbar{
	background-color : white;
}

.navbar-atas .nav-link{
	color : #C01F2F !important;
}

.navbar-atas .nav-link:hover{
	color : black !important;
}


.navbar-sekunder{
	margin-top : 40px;
}

.navbar-sekunder .container table{	
	position : relative;
	z-index: 1;
	display : none;
}

.navbar-sekunder td a{
	padding : 0 10px;
}

.navbar-sekunder a{
	display : inline-block;
	color : #C01F2F;
	text-decoration: none;
}

.navbar-sekunder a:hover{
	color : black;
}

.navbar-bawah{
	line-height : 40px;
	background-color: #fff;
}

.navbar-bawah svg{
	color : #C01F2F;
}

.navbar-bawah svg:hover{
	color : black;
}

.jumbotron{
	box-shadow: 0 2px 15px grey;
	padding-top: 75px !important;
}

.jumbotron img{
	border-radius: 10px;
}

.jumbotron img.gambar1{
	width : 100%;
}

.jumbotron img.gambar2{
	width : 100%;
	margin-bottom: 15px
}

section {
	margin-top : 0;
	min-height : 300px;
	background-color: white;
}

section h2{
	font-size: 20px;
	color: #C01F2F;
	padding: 25px 0;
}

.kategori .isi a{
	box-shadow: 0 0 15px #888888;
}

.row-bawah .col{
	display : inline-block;
}

.ketegori .container{
	position: relative;
	z-index: 2;
}

.kategori .col-kanan{
	text-align : right;
}

.kategori .col_inline{
	display : none;
}

.kategori .isi a{
	margin-bottom: 	20px;
}

a.tmb_kategori{
	display : inline-block;
	width : 120px;
	height : 175px;
	border : 2px solid #C01F2F;
	text-align : center;
	padding-bottom: 0;
	box-sizing: border-box;
	color : #C01F2F;
	text-decoration: none;
	border-radius: 10px;
	background-color: #fff;
}

a.tmb_kategori:hover{
	color : white;
	background-color: #C01F2F;
	border : 2px solid #fff;
}
	
.kategori h3{
	font-size : 12px;
	padding-top: 150px;
}

/*.makanan .isi .col{
	border : 1px solid black;
}*/

.makanan a{
	width : 80px;
	height : 150px;
	/*border : 1px solid red;*/
	text-decoration: none;
	text-align : center;
	display : inline-block;
}

.col.tablet, .col.desktop{
	display : none;
}
 
.makanan a p{
	font-size: 12px;
	margin-top: 5px;
	color : #5E0000;
}

.makanan a:hover p{
	color : #C01F2F;
}

.makanan a:hover .gambar{
	background-color: #C01F2F;
}

.makanan .gambar{
	width : 100%;
	height : 75px;
	background-color: #5E0000;
	border-radius: 10px
}

/* Tablet Device */
@media (min-width: 768px) {
	section h2{
		font-size: 25px;
		color: #C01F2F;
		padding: 20px 0;
		margin-top : 0;
	}

	.row-bawah .col{
		display : none;
	}

	.kategori .col_inline{
		display : inline-block;
	}

	.kategori .col{
		text-align : center;
	}

	.makanan a{
		width : 100px;
	}

	.makanan .gambar{
		height : 100px;
	}

	.col.tablet{
		display : inline-block;
	}

}

/* Desktop Device */
@media (min-width: 992px) {
	.navbar-atas{
		text-transform : uppercase;
		font-size : 12px;
		padding-bottom: 15px;
	}

	.navbar-atas img{
		width : 40px;
	}

	.navbar-sekunder{
		text-transform : uppercase;
		font-size : 16px;
	}

	.navbar-atas .nav-link{
		margin-top: -25px;
	}

	.navbar-sekunder .container table{
		display : inline-block;
	}

	.navbar-bawah{
		display : none;
	}

	.jumbotron{
		height : 695px;
		box-shadow: 0 2px 15px grey;
		margin-bottom: 0;
		padding-top: 100px !important;
	}

	section{
		height : 695px;
		box-sizing: box;
	}

	section h2{
		padding: 70px 0;
	}

	.kategori h3{
		font-size : 20px;
		padding-top: 190px;
	}

	a.tmb_kategori{
		width : 80%;
		height : 250px;
	}

	.col.desktop{
		display : inline-block;
	}

}