body{
	font-family: calibri;
}

.navbar{
	padding-bottom: 5px !important;
}

.navbar-atas{
	font-size: 14px;
}

.bg-navbar{
	background-color : white;
}

.navbar-atas .nav-link{
	color : #C01F2F !important;
}

.navbar-atas .nav-link:hover{
	color : black !important;
}


.navbar-sekunder{
	margin-top : 40px;
}

.navbar-sekunder .container table{	
	position : relative;
	z-index: 1;
	display : none;
}

.navbar-sekunder td a{
	padding : 0 10px;
}

.navbar-sekunder a{
	display : inline-block;
	color : #C01F2F;
	text-decoration: none;
}

.navbar-sekunder a:hover{
	color : black;
}

.navbar-bawah{
	line-height : 40px;
	background-color: #fff;
}

.navbar-bawah svg{
	color : #C01F2F;
}

.navbar-bawah svg:hover{
	color : black;
}

.jumbotron{
	box-shadow: 0 2px 15px grey;
	margin-bottom: 0;
	padding-top: 100px;
}

.jumbotron img{
	border-radius: 10px;
}

.jumbotron img.gambar1{
	width : 100%;
}

.jumbotron img.gambar2{
	width : 100%;
	margin-bottom: 15px
}

section {
	margin-top : 0;
	min-height : 300px;
	box-shadow: 0 2px 15px grey;
	background-color: white;
}

.kategori{
	height : 500px;
	background-image: url("../img/bg-kategori.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.kategori h2{
	font-size: 20px;
	color: #C01F2F;
	padding: 25px 0;
}

.row-bawah .col{
	display : inline-block;
}

.kategori .col-kanan{
	text-align : right;
}

.kategori .col_inline{
	display : none;
}

.kategori .isi a{
	margin-bottom: 	20px;
}

a.tmb_kategori{
	display : inline-block;
	width : 120px;
	height : 175px;
	border : 2px solid #C01F2F;
	text-align : center;
	padding-bottom: 	0;
	box-sizing: border-box;
	color : #C01F2F;
	text-decoration: none;
	border-radius: 10px;
	background-color: #fff;
}

a.tmb_kategori:hover{
	color : white;
	background-color: #C01F2F;
	border : 2px solid #fff;
}

.kategori h3{
	font-size : 15px;
	padding-top: 135px;
}

/* Tablet Device */
@media (min-width: 768px) {
	.kategori h2{
		font-size: 30px;
		color: #C01F2F;
		padding: 80px 0;
	}

	.row-bawah .col{
		display : none;
	}

	.kategori .col_inline{
		display : inline-block;
	}

	.kategori .col{
		text-align : center;
	}


}

/* Desktop Device */
@media (min-width: 992px) {
	.navbar-atas{
		text-transform : uppercase;
		font-size : 12px;
		padding-bottom: 15px;
	}

	.navbar-atas img{
		width : 40px;
	}

	.navbar-sekunder{
		text-transform : uppercase;
		font-size : 16px;
	}

	.navbar-atas .nav-link{
		margin-top: -25px;
	}

	.navbar-sekunder .container table{
		display : inline-block;
	}

	.navbar-bawah{
		display : none;
	}

	.jumbotron{
		height : 695px;
		box-shadow: 0 2px 15px grey;
		margin-bottom: 0;
		padding-top: 150px;
	}

	.kategori{
		height : 695px;
	}

	.kategori h2{
		padding: 130px 0;
	}

	.kategori h3{
		font-size : 20px;
		padding-top: 190px;
	}

	a.tmb_kategori{
	width : 80%;
	height : 250px;

}

}