.navbar{
	position: relative;
}

.navbar-atas{
	font-size: 14px;
	
}

.bg-navbar{
	background-color : white;
}

.navbar-atas .nav-link{
	color : #C01F2F !important;
}

.navbar-atas .nav-link:hover{
	color : black !important;
}

.navbar-sekunder .container table{
<<<<<<< HEAD
	margin-top: -30px;
=======
	margin-top: -20px;
>>>>>>> toggler
	position : relative;
	z-index: 1;
	display : none;
}

.navbar-sekunder td a{
	padding : 0 10px;
}

.navbar-sekunder a{
	display : inline-block;
	color : #C01F2F;
	text-decoration: none;
}

.navbar-sekunder a:hover{
	display : inline-block;
	color : black;
}

.navbar-bawah{
	line-height : 40px;
	background-color: #fff;
}

.navbar-bawah svg{
	color : #C01F2F;
}

.navbar-bawah svg:hover{
	color : black;
}

.jumbotron img{
	border-radius: 10px;
}

.jumbotron img.gambar1{
	width : 100%;
}

.jumbotron img.gambar2{
	width : 100%;
	margin-bottom: 15px
}

/* Tablet Device */
@media (min-width: 576px) {
}

/* Desktop Device */
@media (min-width: 992px) {
	.navbar-atas{
		text-transform : uppercase;
		font-size : 12px;
		padding-bottom: 15px
	}

	.navbar-sekunder .container table{
		display : inline-block;
	}

	.navbar-bawah{
		display : none;
	}
}