.gambar{
	width : 100%;
	height : 100px;
	background-color : yellow;
	padding : 50px;
	box-sizing : border-box;
}

.deskripsi{
	width : 100%;
	height : 100px;
	background-color : green;
}

.gambar2{
	width : 200px;
	height : 200px;
	background-color: orange;
	padding : 100px;
}